<%= simple_form_for [@article, @article.comments.build] do |f| %>

   <div class="from-group">
   	 <%= f.input :content, class: "form-control", placeholder: '有问题可以在这向项目发起者提问哦' %>
   </div>

   <div class="form-group">
   	 <%= f.button :submit %>
   </div>
<% end %>

























