/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "override";
 @import "bootstrap";
 @import "articles";
 @import "footbar";
 @import "category";
 
 @import "froala_editor.min";
 @import "froala_style.min";
 @import "font-awesome-sprockets";
 @import "font-awesome";


@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

@import 'third_party/embedly.min.css';
@import 'third_party/image_tui.min.css';
@import 'third_party/spell_checker.min.css';

// Navigatior css
.collapse.navbar-collapse.justify-content-space-between-sc {
	justify-content: space-between;
}


.grid-container-min {
	padding-left: 60px;
	padding-right: 60px;
	margin: 0 auto;
	max-width: 1366px;
	width: 100%;
}




.text-teal {
	color: teal;
}



.btn-teal {
	background-color: teal;
	border: none;
}

.overflow-hidden-min {
	overflow: hidden;
}


.mb-15-min {
	margin-bottom: 15px;
}


.type-12-min {
	font-size: 12px;
	line-height: 18px;
}

.type-24-min {
	font-size: 24px;
	line-height: 24px;
}

.mt-40-min {
	margin-top: 40px;
}


.mt-10-min {
	margin-top: 10px;
}


.mb-20-min {
	margin-bottom: 20px;
}



/*
.mb-30-min {
	margin-bottom: 30px;
}
*/
.mb-50-min {
	margin-bottom: 50px;
}

.mr-10-min {
	margin-right: 10px;
}

.bg-grey-100-min {
	background-color: #FBFBFA;
}

.pt-30-min {
	padding-top: 30px;
}

/*
.pt-40-min {
	padding-top: 40px;
}
*/
.pt-60-min {
	padding-top: 60px;
}

.pb-50-min {
	padding-bottom: 50px;
}


.font-size-13-min {
	font-size: 13px;
}




.width-600-min {
    width: 100%; 
    max-width: 600px;
}



























































